body{
	font-family: arial;
	margin-left: 50px;
}

img{
	width: 50%;
	height: 40%;
}

.product{
	margin-top: 50px;

}

#product-container{
	width: 40%;
	display: inline-block;
}

#wishlist-container{

	text-align: top;
	width: 40%;
	display: inline-block;
}